*{
    margin: 0px;
    padding: 0px;

}

body{
    height:400vh;
    width:100%;
    background-color: black;
    color: white;
}
.main{
    
    width: 100%;
    height: 100vh;
}
h3{
    background-color: olive;
    border: 2px solid white;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
}
.div1{
    width: 40%;
    height: 600px;
    float: left;


}

.div1 h2{
    color: orange;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}

    .div1 img{
    
    width: 80%;
    height: 500px;
    margin-top: 10px;
    padding-left: 2px;
    border: 4px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    
}

.div2{
    width: 45%;
    float: right;
    height: 500px;
}

.div2 h4{
    border: 2px solid white;
    color: whitesmoke;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    
    
}

.div2 p{
    color:whitesmoke;
    padding: 2px;
    margin-top: 40px;
    line-height: 30px;
    display: center;
}

/* ..main1{
    width: 100%;
    height: 500px;
    display: grid;
    margin: top 20px;
    margin: 20px;
} */

